:root {
    --content: ""
}

.header {
    position: absolute;
    touch-action: none;
    text-align: center;
    color: #444444;
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    box-sizing: border-box;
    white-space: nowrap;
    height: 20px
}

.header::after {
    content: var(--content);
    vertical-align: middle;
}