.canvas {
    user-select: none;
    touch-action: none;
    overflow: hidden;
    overscroll-behavior-x: contain;
}

.non-scaling-stroke {
    vector-effect: non-scaling-stroke;
}

.drag-target {
    touch-action: none;
}

.hide-header {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s;
}

.show-header {
    visibility: visible;
    opacity: 1;
    transition: visibility 2s;
}
